body{
    width: 375px;
    margin:10px auto;
}

.logo2{
    height: 70px;
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    width: 70px;
}

.text{
    height:40px;
    display: block;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 130px;
}

p{
    color: #4C4C4C;
    margin-bottom: 150px;
    text-align: center;
}

.coment{
    display: block;
    height:160px;
    width: 260px;
    margin: 0px auto;
}