@media(max-width: 320px){
    body{
    width: 320px;
    margin:10px auto;
    }

    .logo-set{
        height: 30px;
        width: 130px;
        left: 95px;
    }
    #search-box{
        border: solid thin #9B9B9B;
        border-radius: 8px;
        color: #4C4C4C;
        height: 40px;
        margin: 30px 10px;
        padding: 0px 10px;
        width: 300px;
    }
}