body{
    width: 375px;
    margin:10px auto;
}

header{
    display: block;
    height: 50px;
    margin-top: 20px;
    border-bottom: solid #9B9B9B thin;
}

content{
    display: block;
}

.hamb{
    cursor: pointer;
    cursor: hand;
    float: left;
    height: 30px;
    margin-left: 15px;
    position: absolute;
    width: 30px;
}

.logo-set{
    height: 30px;
    margin: 0px auto;
    width: 130px;
}

.logo2{
    display: inline;
    float: left;
    height: 30px;
    width: 30px;
}

.text{
    display: inline;
    float: left;
    height: 30px;
    width: 100px;
}

.trimmed-pic{
    height: 220px;
    object-fit: cover;
    margin-bottom: 30px;
    width: 375px;
}

.color-dot{
    background-color: #FAAC2A;
    border-radius: 50%;
    height: 14px;
    margin-left: 20px;
    width: 14px;
}

#openHourList{
    display: none;
    font-size: 12px;
    list-style-type: none;
    margin-left: 60px;
}

#openHour{
    display: none;
    font-size: 12px;
}

#openHourLabel{
    cursor: pointer;
    cursor: hand;
    font-size: 12px;
    margin-left: 20px;
    color: #696969;
}


#openHour:checked ~ #openHourList{
    display: block;
}

.fa-angle-down{
    color: #9B9B9B;
}

h1{
    font-size: 20px;
    margin-left: 20px;
}

content p{
    color: #696969;
    font-size: 12px;
    margin-left: 20px;
}

.view-map{
    display: block;
    float: right;
    height: 20px;
    margin-right: 20px;
}

#arrow{
    display: inline-block;
    float: left;
    height: 18px;
    margin-right: 5px;
    width: 18px;
}

#map-text{
    display: inline-block;
    color: #9B9B9B;
    font-size: 12px;
    float: left;
    margin: 0px;
}

.tag-line{
    display: block;
    float: left;
    height: 12px;
    margin-top: 30px;
    margin-left: 20px;
    width: 200px;
}

.tag{
    border: solid thin #9B9B9B;
    border-radius: 4px;
    display: inline-block;
    float: left;
    height: 15px;
    line-height: 15px;
    margin-right: 5px;
    text-align: center;
    padding: 2px 4px;
}

.tag p{
    margin: 0px;
}

.textarea{
    border-radius: 10px;
    color: #4C4C4C;
    font-size: 14px;
    height: 120px;
    margin: 20px;
    padding: 10px;
    width: 313px;
}

.enter{
    background-color: #70CADF;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    cursor: hand;
    height: 50px;
    line-height: 50px;
    margin: 0px auto;
    margin-top: 30px;
    bottom: 20px;
    text-align: center;
    width: 375px;
}

.edit{
    background-color: #9B9B9B;
    border-radius: 5px;
    color: white;
    display: inline;
    float: right;
    height: 16px;
    margin-right: 20px;
    text-align:center;
    line-height: 20px;
    padding: 2px 6px;
    width: 50px;
}

.edit p{
    color: white;
    font-size: 16px;
    float: right;
    line-height: 16px;
    margin: 0px;
}

.fa-pen-square{
    color: white;
    float: left;
}
